<h1>{{#link-to 'index'}}Aquia Ember{{/link-to}}</h1>
<ul>
  <li>{{#link-to 'articles'}}Articles{{/link-to}}</li>
  <li>{{#link-to 'pages'}}Pages{{/link-to}}</li>
  <li>{{#link-to 'users'}}Users{{/link-to}}</li>
</ul>
{{outlet}}
